*{
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8mm;
    font-weight: bold;
}
body{
    background: lightblue;
    margin-top: 14%;
}
.more{
    text-decoration: none;
    margin-left: 42%;
}
